# VAPID keys for Web Push (generate your own at https://d3v.one/vapid-key-generator/)
VAPID_PUBLIC_KEY=BPMmWwHrIUP29zBLrlnQUPAlR3zX6mVLFoHyH_zntmLE4y-Db6pmnm0FVMKPAbdQ27396ltUXDhBS2WbItjZnB4
VAPID_PRIVATE_KEY=Afwx3DFgVYUi4iPZyZrqAJ0Cnv6HY5q2N8jBno3KUOo

# A random secret key to protect the broadcast endpoint (pick something unique)
BROADCAST_KEY=replace-with-a-random-secret-string

# Vercel KV (set automatically when you create a KV database in Vercel dashboard)
KV_URL=
KV_REST_API_URL=
KV_REST_API_TOKEN=
KV_REST_API_READ_ONLY_TOKEN=
